/* Color */
:root {
    --colorPrimary:    #e0d186;
    --colorSecondary:  #6dc415;
    --colorBackground: #002b36;
}

body {
    background: var(--colorBackground);
    color: var(--colorPrimary);
}

body, input[type="button"] {
    font-family: Arial, Helvetica, sans-serif; 
}

header > h1 {
    margin: .5em 0 .2em;
}

h1, h3, input[type="textbox"] {
    text-align: center;
}

#page-content {
    display: grid;
    grid-template-columns: 1fr;
}

#game-rules, #start-game-form, 
#pig-dice-game, #start-game {
    width: 30em;
    padding: .5em 1em;
    border: 3px solid var(--colorSecondary);
}

#rules-list {
    padding-left: 1.5em;
    margin: .3em;
}

#rules-list > li {
    list-style-type: square;
}

#start-game-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;    
}

#game-rules, #start-game-form, #pig-dice-game,
input[type="textbox"], input[type="button"] {
    margin: .75em auto;
    border-radius: .5em;
}

input[type="textbox"] {
    margin: .5em .5em;
    background: var(--colorPrimary);
    color: var(--colorBackground);
    border: 2px solid var(--colorSecondary);
}

.input-textbox {
    width: 10em;   
    height: 2em;
}

input[type="textbox"]::placeholder {
    color: var(--colorBackground);
}

input[type="textbox"]::-ms-input-placeholder {
    color: var(--colorBackground);
}

input[type="button"] {
    padding: .5em .5em;
    margin-top: .5em;
    display: block;
    background: none;
    color: var(--colorPrimary);
    border: 3px solid var(--colorSecondary);
}

input[type="button"]:hover {
    transition: all .3s;
}

input[type="button"]:hover {
    background: var(--colorSecondary);
    color: var(--colorBackground);
    cursor: pointer;
}

input[type="button"][disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
}

#curr-player-display {
    padding-bottom: .2em;
    margin: .5em 0;
    border-bottom: 2px solid var(--colorSecondary);
}

#game-info {
    display: flex; 
    flex-direction: row;
    align-items: flex-end;
}

#player-scores {
    display: flex;
}

#player1, #player2 {
    margin: 0 .5em;
    text-align: center;
}

.output-textbox {
    width: 2.5em;   
    height: 2.5em;
}

#turn-display, #game-buttons {
    margin: 0 auto;
}

#turn-display, #game-buttons {
    display: flex;
    flex-direction: column;
}

.game-button {
    display: inline-block;
    width: 10em;
    margin: .5em .5em;
}

#roll-display {
    height: 50px;
    width: 50px;
    transition: all .3s;
}

.lds-ellipsis div {
    background: #ffa800;
    border: 1px solid black;
}