/* Color */
:root {
    --colorPrimary:    #e8d05c;
    --colorSecondary:  #c47e15;
    --colorBackground: #002b36;
    --colorAccent1:    #638475;
    --colorAccent2:    #CE4760;
}

body {
    background: var(--colorBackground);
    color: var(--colorPrimary);
    font-size: large;
}

body, input[type="button"] {
    font-family: Arial, Helvetica, sans-serif; 
}

header > h1 {
    margin: .5em 0 .3em;
}

h1, h3, input[type="textbox"] {
    text-align: center;
}

#page-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    justify-items: center;
}

#game-rules, #start-game-form, 
#display-errors, #pig-dice-game, 
#start-game {
    width: 30em;
    padding: .5em 1em;
}

#game-rules, #start-game-form,
#pig-dice-game, #start-game {
    border: 3px solid var(--colorSecondary);
}

#start-game-form, #game-info, #player-scores,
#turn-display, #game-buttons {
    display: flex;
}

#rules-list {
    padding-left: 1.5em;
    margin: .3em;
}

li {
    list-style-type: square;
    margin-bottom: .2em;
}

#error-list {
    padding-left: .5em;
    list-style-type: square;
    color: var(--colorSecondary);
}

#start-game-form {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;    
}

#game-rules, #start-game-form, #pig-dice-game,
input[type="textbox"], input[type="button"] {
    border-radius: .5em;
}

#start-game-form, #pig-dice-game {
    grid-row-start: 2;
}

input[type="textbox"] {
    margin: .5em .5em;
    background: var(--colorPrimary);
    color: var(--colorBackground);
    border: 2px solid var(--colorSecondary);
}

input[type="textbox"], input[type="button"] {
    font-weight: bold;
}

.input-textbox {
    width: 10em;   
    height: 2em;
}

input[type="textbox"]::placeholder {
    color: var(--colorAccent2);
}

input[type="textbox"]::-ms-input-placeholder {
    color: var(--colorAccent2);
}

input[type="button"] {
    padding: .5em .5em;
    margin: .5em;
    display: block;
    background: none;
    color: var(--colorPrimary);
    border: 3px solid var(--colorSecondary);
}

input[type="button"]:hover {
    transition: all .3s;
    background: var(--colorSecondary);
    color: var(--colorBackground);
    cursor: pointer;
}

input[type="button"][disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
}

#curr-player-display {
    padding-bottom: .2em;
    margin: .5em 0;
    border-bottom: 2px solid var(--colorSecondary);
}

#game-info {
    flex-direction: row;
    align-items: flex-end;
}

#player1, #player2 {
    margin: 0 .5em;
    text-align: center;
}

.output-textbox {
    width: 2.5em;   
    height: 2.5em;
}

#turn-display, #game-buttons {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.game-button {
    width: 10em;
    margin: .5em .5em;
}

#roll-display {
    height: 50px;
    width: 50px;
    transition: all .3s;
}

.lds-ellipsis div {
    background: var(--colorAccent2);
    border: 1px solid black;
}

/* for smaller devices */
@media only screen and (max-width: 540px) {
    #game-rules, #start-game-form, #display-errors, 
    #pig-dice-game, #start-game {
        width: 18em;
    }

    #rules-list {
        padding-left: .7em;
        margin: .3em;
    }

    #game-info {
        flex-wrap: wrap;
    }

    #game-buttons {
        flex-direction: row;
    }

    .game-button {
        margin: 0 12em;
    }
}