/* Color */
:root {
    --colorPrimary:    #bee481;
    --colorSecondary:  #c49b15;
    --colorBackground: #002b36;
}

body {
    background: var(--colorBackground);
    color: var(--colorPrimary);
}

body, input[type="button"] {
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
    margin: .5em 0 .2em;
}

h1, input[type="textbox"] {
    text-align: center;
}

#game-rules, #start-game, #pig-dice-game {
    width: 30em;
    padding: .5em 1em;
    border: 3px solid var(--colorSecondary);
}

#rules-list {
    padding-left: 1.5em;
    margin: .3em;
}

#rules-list > li {
    list-style-type: square;
}

#player-name-textboxes {
    width: fit-content;
    margin: auto;
}

#game-rules, #start-game, #pig-dice-game, 
input[type="button"], input[type="textbox"] {
    margin: .5em auto;
    border-radius: .5em;
}

input[type="textbox"] {
    margin: 0 .5em .5em;
    background: var(--colorPrimary);
    color: var(--colorBackground);
    border: 1px solid var(--colorBackground);
}

.input-textbox {
    width: 10.5em;   
    height: 1.5em;
}

input[type="textbox"]::placeholder {
    color: var(--colorBackground);
}

input[type="textbox"]::-ms-input-placeholder {
    color: var(--colorBackground);
}

.output-textbox {
    width: 5.5em;   
    height: 5.5em;
}

input[type="button"] {
    padding: .5em .7em;
    margin-top: .5em;
    display: block;
    background: none;
    color: var(--colorPrimary);
    border: 2px solid var(--colorSecondary);
}

input[type="button"]:hover {
    transition: all .3s;
}

input[type="button"]:hover {
    background: var(--colorSecondary);
    color: var(--colorBackground);
    cursor: pointer;
}