/* Color */
:root {
    --colorPrimary:    #e0d186;
    --colorSecondary:  #6dc415;
    --colorBackground: #002b36;
}

body {
    background: var(--colorBackground);
    color: var(--colorPrimary);
}

body, input[type="button"] {
    font-family: Arial, Helvetica, sans-serif; 
}

header > h1 {
    margin: .5em 0 .2em;
}

h1, input[type="textbox"] {
    text-align: center;
}

#page-content {
    display: grid;
    grid-template-columns: auto;
}

#game-rules, #start-game-form, #pig-dice-game, #start-game {
    width: 30em;
    padding: .5em 1em;
    border: 3px solid var(--colorSecondary);
}

#rules-list {
    padding-left: 1.5em;
    margin: .3em;
}

#rules-list > li {
    list-style-type: square;
}

#player-name-inputs, #game-buttons {
    width: fit-content;
    margin: auto;
}

#game-rules, #start-game-form, #pig-dice-game,
input[type="button"], input[type="textbox"] {
    margin: .75em auto;
    border-radius: .5em;
}

#player-scores {
    width: fit-content;
    display: flex;
    margin: auto;
}

#player1, #player2 {
    margin: 0 2em;
    text-align: center;
}

input[type="textbox"] {
    margin: .5em .5em;
    background: var(--colorPrimary);
    color: var(--colorBackground);
    border: 2px solid var(--colorSecondary);
}

.input-textbox {
    width: 10.5em;   
    height: 2em;
}

input[type="textbox"]::placeholder {
    color: var(--colorBackground);
}

input[type="textbox"]::-ms-input-placeholder {
    color: var(--colorBackground);
}

.output-textbox {
    width: 3.5em;   
    height: 3.5em;
}

input[type="button"] {
    padding: .5em .5em;
    margin-top: .5em;
    display: block;
    background: none;
    color: var(--colorPrimary);
    border: 3px solid var(--colorSecondary);
}

input[type="button"]:hover {
    transition: all .3s;
}

input[type="button"]:hover {
    background: var(--colorSecondary);
    color: var(--colorBackground);
    cursor: pointer;
}

input[type="button"][disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
}

#roll-die, #pass-turn, .input-textbox {
    display: inline-block;
    width: 10em;
    margin: .5em .5em;
}

#turn-totals {
    width: fit-content;
    margin: auto;
}

#roll-display {
    height: 50px;
    width: 50px;
    transition: all .3s;
}